ul{
    word-spacing: 6px;
    list-style: none;
}

li{
    float:right
    
}
header{
 margin:20px

}


section{
    margin-left:150px;
    margin-right:150px;
    border-left:0.5px solid black;
    border-right:0.5px solid black;
    padding: top 15px;
    background-color: rgb(232, 255, 255);
}

div{
    padding-left:5px;
}
nav{
    border-bottom:1.5px solid black
}

.logo{
    display:inline-block
}
a{
    display:inline-block;
}
body{
    background-image:url(../img/pattern.jpg);

}

h1{
    padding-left:10px;
    padding-top:15px;
}
footer{
    margin:20px
}

h5{
    color:black;
    margin:left 2px
}

.footer{
    border-top:1.5px solid black
}

.Lorem1{
    border-bottom:0.5px solid black
}

.Lorem2{
    border-bottom:0.5px solid black
}

.Lorem3{
    border-bottom:0.5px solid black
}

.Lorem4{
    border-bottom:0.5px solid black
}

.Lorem5{
    border-bottom:0.5px solid black
}
